//Main color
$black: #000;
$grey: #808080;
$white: #fff;

$pallete: (
    #2a2a2a,
    #c0c0c0,
    #141414,
    #646464,
    #7c7c7c,
    #474747,
    #545454,
    #747474,
    #080809,
    #4c4c54
);

//Primary color
$primary-first: #161617;
$primary-secondary:#1d1d1f;
$primary-third: #2a2a2c;
$primary-four: #47474a;
$primary-five: #5a5a5e;

//Secondary color
$secondary-black: #131313;
$secondary-grey: #848484;
$secondary-grey-light: #a5a5a5;
$secondary-grey-lighter:#a2a2a2;
$secondary-white: #d2d2d2;

//color DarkMode //text
$text-dark-first:#ffffff;
$text-dark-second:#8d8d93;
$text-dark-third:#47474a;
$text-dark-five:#2a2a2c;

//color LightMode //text
$text-light-first:#000000;
$text-light-second:#8d8d93;
$text-light-third:#47474a;
$text-light-five:#2a2a2c;

//color GreyMode //text
$text-grey-first:#ffffff;
$text-grey-second:#989899;
$text-grey-third:#5a5a5e;
$text-grey-five:#404044;


