


.button--card__header {
    --size-icon: #{calc-vw(20, $desktop)};

    display: block;
    border-radius: 50%;

    width: var(--size-icon);
    height: var(--size-icon);

    outline: calc-vw(1, $desktop) solid $secondary-grey;
    padding: calc-vw(4, $desktop);

    @include transition(background,outline);

    &:hover {
        background: $secondary-white;
        outline: calc-vw(1, $desktop) solid $primary-five;

        svg {
            fill: $primary-five;

            g {
                fill: $primary-five;
            }
        }
    }

    svg {
        display: block;
        fill: $secondary-grey;

        @include transition(fill);

        g {
            fill: $secondary-grey;

            @include transition(fill);

        }
    }
}