header {
  width: calc-vw(100, $desktop);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: #0000004d;
  backdrop-filter: blur(2px);
}

.nav__list {
}

.nav__link {

}