main {
    width: 100%;
    margin-right: calc-vw(70, $desktop);
    display: flex;
    gap: calc-vw(12, $desktop);
    padding-top: calc-vw(20, $desktop);
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}